In [4]:
print(input("Nama: "))
print(input("NIM: "))
print(input("Kelas: "))

Nala Fatkhuriyani
I0322092
C

## 1.

buatlah program sederhana untuk:
* **A** mencari massa jika diketahui nilai energi potensial, percepatan gravitasi, dan ketinggian benda! beserta rumus nya!
* **B** mencari gaya apung jika diketahui massa jenis, tinggi, panjang, dan lebar benda serta percepatan gravitasi dan contohnya! beserta rumus nya!
* **C** Tulis program Python untuk menghitung luas dari segi lima sama sisi!

> *note* : rumus, contoh, dan nilai dari tiap variabel ditentukan oleh kalian sendiri dan gunakan satuan baku (SI) untuk menghitung nilai dari tiap variabel

In [ ]:
#A menghitung massa apabila diketahui energi potensial, percepatan gravitasi dan ketinggian benda

ep =float(input("masukkan besar energi potensial="))
g  =float(input("masukan percepatan gravitasi bumi= " ))
h  =float(input("masukan besar ketinggian benda= "))

m  = ep / (g * h)
print(f"Nilai Energi Potensial =",ep,"Joule")
print(f"Nilai Gravitasi =",g,"m/s^2")
print(f"Nilai Ketinggian Benda=",h,"m")

print(f"Maka Massa Benda yang didapat =",m,"kg")

In [ ]:
#B menghitung gaya apung apabila diketahui massa jenis, tinggi, panjang, lebar benda, dan percepatan gravitasi

mj   =float(input("masukkan besar massa jenis=\t"))
g    =float(input("masukan besar percepatan gravitasi=\t"))
t    =float(input("masukan besar tinggi=\t"))
p    =float(input("masukan besar panjang=\t"))
l    =float(input("masukan besar lebar=\t"))

v =(p * l * t)      
gayapung =(mj * v * g)

print(f"Nilai massa jenis zat cair adalah",mj,"Kg/m^3")
print(f"Nilai percepatan gravitasi adalah",g,"m/s^2")

print(f"Tinggi benda adalah",t,"m")
print(f"Panjang benda adalah",p,"m")
print(f"Lebar benda adalah",l,"m")

print(f"Nilai volume benda adalah",v,"m")
print(f"Maka hasil nilai gaya apung adalah",gayapung,"N")

print("======================================")

In [ ]:
#C menghitung luas segi lima sama sisi

sisisegi5 =float(input("masukan sisi segi lima=\t"))
luassegi5 =((5 * sisisegi5 ** 2)//2.90617)

print(f"sisi dari segi lima sama sisi adalah",sisisegi5,"m")
print(f"luas dari segi lima sama sisi adalah",luassegi5,"m^2")

## 2.

Taman bermain ANCOL memiliki berbagai wahana, salah satunya adalah bianglala. Harga tiket yang dijual berbeda tergantung dengan kategori nya. Harga tiket bagi orang dewasa atau yang berumur lebih dari 17 tahun adalah Rp 110.000 , harga tiket untuk anak-anak usia 6-16 tahun adalah Rp. 75.000 , sedangkan untuk usia dibawahnya tidak dikenakan biaya. Pada wahana bianglala sedang ada "Promo RAMADHAN" sebesar 20% bagi pembelian tiket lebih dari 2 pcs.

Keluarga Anya Forger ingin menaiki wahana bianglala tersebut, Anya (usia 18 tahun) pergi bersama ayah dan ibunya beserta dua adiknya, Harry (usia 8 tahun) dan Taylor (usia 4 tahun). 

> Buatlah program sederhana untuk menghitung harga total dari pembelian tiket  oleh keluarga Anya dan harga tiket setelah mendapatkan diskon

In [3]:
#harga wahana
harga_diatas17th = 110000
harga_sampai16th = 75000

#tiket dibeli
jumlah_diatas17th = 3 # ayah, ibu dan anya
Jumlah_sampai16th = 1 #harry
jumlah_dibawahumur = 0 #taylor

#harga total sebelum diskon
harga_sebelum_diskon = (harga_diatas17th * jumlah_diatas17th) + (harga_sampai16th * Jumlah_sampai16th)

#promo ramadhan
if jumlah_diatas17th + Jumlah_sampai16th > 2:
  diskon = 0.2 * harga_sebelum_diskon
else:
  diskon = 0

#harga total setelah diskon
harga_setelah_diskon = harga_sebelum_diskon - diskon

#harga total dan harga setelah diskon
print("Harga total sebelum diskon: Rp", harga_sebelum_diskon)
print("Diskon: Rp", diskon)
print("Harga total setelah diskon: Rp", harga_setelah_diskon)

Harga total sebelum diskon: Rp 405000
Diskon: Rp 81000.0
Harga total setelah diskon: Rp 324000.0

## 3.

diberikan list aslab sebagai berikut:
```python
list_aslab = [
    {"nama": "Berlian Safri Prakoso", "nim": "I0320017", "kontak": "0858XXXXXXXX"},
    {"nama": "Halidya Siti Hanifah", "nim": "I0320044", "kontak": "0878XXXXXXXX"},
    {"nama": "Nurki Putra Mahardika", "nim": "I0320076", "kontak": "0877XXXXXXXX"},
    {"nama": "Aji Manarul Aziz", "nim": "I0320119", "kontak": "0812XXXXXXXX"},
    {"nama": "Alica Ayu Fitriani", "nim": "I0320121", "kontak": "0896XXXXXXXX"},
    {"nama": "Dendy Halim Kusuma", "nim": "I0320125", "kontak": "0822XXXXXXXX"}
]
```
* **A** Tuliskan kode untuk mengakses informasi tentang "nama" dari semua aslab mulai dari index 1 sampai 5
* **B** Tambahkan informasi berikut pada data aslab dan tampilkan hasilnya:
```python
    surel = ["berlian@student.uns.ac.id",
          "halidya@student.uns.ac.id",
          "nurki@student.uns.ac.id",
          "manarul@student.uns.ac.id",
          "alica@student.uns.ac.id",
          "dendy@student.uns.ac.id"]
```
* **C** Hapus nilai pada kunci "kontak" pada list aslab dan tampilkan hasilnya
> *note: kalian hanya boleh menggunakan key-value pair yang disebutkan di dalam teks, tanpa menggunakan informasi tambahan yang diambil pada list yang ada*

In [5]:
#A Mengakses informasi tentang aslab
list_aslab = [
    {"nama": "Berlian Safri Prakoso", "nim": "I0320017", "kontak": "0858XXXXXXXX"},
    {"nama": "Halidya Siti Hanifah", "nim": "I0320044", "kontak": "0878XXXXXXXX"},
    {"nama": "Nurki Putra Mahardika", "nim": "I0320076", "kontak": "0877XXXXXXXX"},
    {"nama": "Aji Manarul Aziz", "nim": "I0320119", "kontak": "0812XXXXXXXX"},
    {"nama": "Alica Ayu Fitriani", "nim": "I0320121", "kontak": "0896XXXXXXXX"},
    {"nama": "Dendy Halim Kusuma", "nim": "I0320125", "kontak": "0822XXXXXXXX"}
]

for i in range(1, 6):
  print(list_aslab[i]["nama"])

Halidya Siti Hanifah
Nurki Putra Mahardika
Aji Manarul Aziz
Alica Ayu Fitriani
Dendy Halim Kusuma

In [9]:
#B Menambah surel pada data aslab
surel = ["berlian@student.uns.ac.id",
          "halidya@student.uns.ac.id",
          "nurki@student.uns.ac.id",
          "manarul@student.uns.ac.id",
          "alica@student.uns.ac.id",
          "dendy@student.uns.ac.id"]

for i in range(len(list_aslab)):
    list_aslab[i]["surel"] = surel[i]

# Tampilkan hasil
for i in range(len(list_aslab)):
  print("Nama:", list_aslab[i]["nama"])
  print("NIM:", list_aslab[i]["nim"])
  print("Kontak:", list_aslab[i]["kontak"])
  print("Surel:", list_aslab[i]["surel"])
  print()

#C Menghapus kontak pada data aslab

for i in range(len(list_aslab)):
  del list_aslab[i]["kontak"]

# Tampilkan hasil
for i in range(len(list_aslab)):
  print("Nama:", list_aslab[i]["nama"])
  print("NIM:", list_aslab[i]["nim"])
  print("Surel:", list_aslab[i]["surel"])
  print()

Nama: Berlian Safri Prakoso
NIM: I0320017
Kontak: 0858XXXXXXXX
Surel: berlian@student.uns.ac.id

Nama: Halidya Siti Hanifah
NIM: I0320044
Kontak: 0878XXXXXXXX
Surel: halidya@student.uns.ac.id

Nama: Nurki Putra Mahardika
NIM: I0320076
Kontak: 0877XXXXXXXX
Surel: nurki@student.uns.ac.id

Nama: Aji Manarul Aziz
NIM: I0320119
Kontak: 0812XXXXXXXX
Surel: manarul@student.uns.ac.id

Nama: Alica Ayu Fitriani
NIM: I0320121
Kontak: 0896XXXXXXXX
Surel: alica@student.uns.ac.id

Nama: Dendy Halim Kusuma
NIM: I0320125
Kontak: 0822XXXXXXXX
Surel: dendy@student.uns.ac.id

Nama: Berlian Safri Prakoso
NIM: I0320017
Surel: berlian@student.uns.ac.id

Nama: Halidya Siti Hanifah
NIM: I0320044
Surel: halidya@student.uns.ac.id

Nama: Nurki Putra Mahardika
NIM: I0320076
Surel: nurki@student.uns.ac.id

Nama: Aji Manarul Aziz
NIM: I0320119
Surel: manarul@student.uns.ac.id

Nama: Alica Ayu Fitriani
NIM: I0320121
Surel: alica@student.uns.ac.id

Nama: Dendy Halim Kusuma
NIM: I0320125
Surel: dendy@student.uns.ac.id